body {
    font-size: 12px;
}
.navbar {
    font-size: 12px;
}
.nav-item {
    font-size: 12px;
}
.profile {
    display: flex;
    align-items: center;
}
.profile img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}
.sidebar {
    display: flex;
    flex-direction: column;
    height: 100vh;
   
}
.sidebar-header {
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: flex-start; /* Align items to the left */
}
.sidebar-nav {
    flex-grow: 1;
}
.sidebar-footer {
    padding: 5px;
    background-color: #333A40;
}
.sidebar-footer .btn {
    width: calc(100%); /* Full width minus the margin */
    margin: 0px; /* Add 2px margin */
}
.sidebar-footer i {
    color: #ffffff; /* Ensure the icon is white for visibility */
    
}
.card {
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Add shadow effect */
}
.card-body {
    padding: 10px 0px 0px 15px;
    font-size: 13px;
    font-weight: bold;
    color: #383838;
    background-color: #f8f8f8;
}
.card-body-sub {
    padding: 20px;
    font-size: 10px;
    font-weight: bold;
    color: #383838;
    background-color: #ffffff;
}
.card-title i {
    margin-right: 10px;
    background-color: #b6b6b6;
    height: 35px;
    width: 35px;
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.card-text {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}
.toplink{
    color: #fa0909;
    font-size: 12px;
    font-weight: bold;
}